<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
  <app-sidebar></app-sidebar>
  
  <main class="page-content">
    <a href="javascript:void(0)" class="btn btn-outline-secondary" (click)="toggleSidebar()"><i class="fa fa-bars" aria-hidden="true"></i></a>
          <div class="row">
      <div class="container">
            <router-outlet></router-outlet>
          </div>
          <div class="attribution text-center badge badge-warning">
              Created by <strong>Neha Shrivastava</strong>
            </div>
      </div>
      <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
  </main>

</div>